.major-parts{
    .parts-lists {
        display: flex;
        justify-content: center;    
        align-items: baseline;
        .names{
            li{
                height: 64px;
            }
        }
    }
}